<% content_for :head do %>
<meta name= "title" content = @item.name >
<meta name= "description" content= @item を欲しい人、持っている人。>
<% end %>
  <div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @item.large_image.present? %>
          <%= image_tag(@item.large_image) %>
          <% else %>
          <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% @haves.each do |h| %>
          <%= link_to(gravatar_for((h), size: 20), user_path(h)) %>
          <% end %>
          </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% @wants.each do |w| %>
          <%= link_to(gravatar_for((w), size: 20), user_path(w)) %>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <% #TODO %>
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
